.homestyle  h1{

    color: red;
}

/* .homestyle{
    
    background-image: url("../../image/background11.jpg");
    min-height: 500px;
    background-size: cover;
      background-repeat: no-repeat;
   background-position:center;


}
 */
