.homestyle  h1{

    color: red;
}
.homestyle{
    margin-top: 70px;
    margin-left: 30px;
    padding-left: 3px;
    
}
.homestyle {
    display: flex;
    text-align: center;

    
}
.homestyle .home1, .home2, .home3 {
   padding: 10px;

    
}



/* .homestyle{
    
    background-image: url("../../image/background11.jpg");
    min-height: 500px;
    background-size: cover;
      background-repeat: no-repeat;
   background-position:center;


}
 */
